<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/global.css">
    <title>Toro Bronco Real</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/templates/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/templates/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/templates/favicon-16x16.png">
    <link rel="manifest" href="/templates/site.webmanifest">
    <meta name="description"
    content="El Toro Bronco Real es el restaurante de cortes, parrilladas y tacos por excelencia en la frontera, sabor y tradicion se unen para brindar el mejor sabor."
    >
    <script src="https://unpkg.com/scrollreveal"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/jquery.nanogallery2.min.js"></script>
    {%extends "base.html" %}
</head>
{% block content %}
<body class="bg-black">
    <!--Hero Section-->
    <section>
        <div class="bg-[url(/static/images/hero-bg.webp)] relative bg-center flex flex-col w-full h-[800px] lg:h-[1000px] justify-center">
            <div class="absolute inset-0 bg-black opacity-70"></div>
            <div class="absolute inset-0 bg-gradient-to-b from-black from-5% via-10% to-transparent to-40% z-10"></div>
            <div class="absolute inset-0 bg-gradient-to-t from-black from-5% via-10% to-transparent to-40% z-10"></div>
            <div class="z-10 flex flex-col">
                <p class="text-[2.5rem] lg:text-6xl" style="font-family: Hanson-Bold; color: white; text-align: center;">Simplemente</p>
                <p class="text-7xl  lg:text-9xl -mt-6 neon-text-orange text-center" style="font-family: Roustel;">Lo mejor</p>
                <img src="/static/images/hero-img.webp" alt="Imagen de un platillo" class="w-[95%] max-w-[650px] mx-auto -mt-10 ">
                <a href="{{url_for('menu')}}" class="text-white font-poppins text-2xl mt-10 w-[95%] border-2 border-redCustom mx-auto p-2 lg:mb-20 max-w-[450px] cursor-pointer hover:border-yellowCustom hover:font-bold hover:scale-105 transition-all duration-200 text-center">Menu</a>
                <img src="{{url_for('static', filename='/images/arrow.svg')}}" alt="" class="size-12 mx-auto animate-bounce mt-6">
            </div>
        </div>
    </section>

    <!--First Divider-->
    <section>
    <div class="relative w-full h-[800px] lg:h-[1200px] p-4 first-image  overflow-hidden" >

        <img src="{{url_for('static', filename='/images/tacos.webp')}}" alt="img" class="absolute inset-0 w-full h-full object-cover lg:object-bottom reveal-top">
        <div class="absolute inset-0 flex flex-col ml-2 top-2 lg:left-24 lg:top-56">
            <h2 class="font-Roustel text-white font-bold text-5xl lg:text-7xl reveal-left  ml-3" >El Papá de</h2>
            <h2 class="reveal-right font-Roustel text-white font-bold text-5xl lg:text-7xl reveal-left ml-3"  >los taqueros</h2>
            <div class="bg-black w-fit rounded-2xl border-redCustom bottom-15 ml-4 lg:ml-48 text-3xl absolute reveal-left">
                <p class="font-baskervville text-white py-2 px-2">Tacos de Res</p>
            </div>
        </div>
    </div>
    </section>


    <!--Second-Divider-->
    <section>
        <div class="relative flex first-image w-full  min-h-[300px] lg:min-h-[500px] xl:min-h-[700px] mt-40 overflow-hidden" >
            <img src="/static/images/divider-img-01.webp" alt="" class="w-[100%]">
            <div class="bg-black w-fit rounded-2xl border-redCustom bottom-10 left-32 lg:left-52 text-3xl absolute reveal-right">
                <p class="font-baskervville text-white py-2 px-2 text-center">Pulpo al <span class="font-Design">Josper</span></p>
            </div>
            <div class="absolute top-4 left-3 reveal-left">
                <img src="{{url_for('static', filename='images/logo-josper-white.png')}}" alt="Logo Josper" class="lg:size-40 size-20">
            </div>
        </div>
    </section>


    <!--Our Story-->
    <section class="mt-16 mb-16 overflow-hidden">
        <p  class=" font-poppins font-bold text-5xl lg:text-7xl text-center neon-text reveal-top">Nuestra <span class="">Historia</span></p>
        <div class="flex flex-col lg:flex-row  items-start mx-auto max-w-[1200px]">
            <div class="flex flex-row w-[95%] lg:w-1/3">    
                <div class="">
                    <div class="flex flex-row items-center">
                        <div class="">
                            <img src="{{url_for('static', filename='/images/fire.svg')}}" alt="" class="size-10 animate-pulse reveal-top">
                        </div>
                        <div class="w-full h-[4px] bg-yellowCustom reveal-top"></div>
                    </div>
                    <div class="w-[95%] flex flex-col mx-auto p-3 gap-1 relative">
                        <div class="">
                            <img src="{{url_for('static', filename='images/story-1.webp')}}" alt="Imagen de platillo" class="reveal-top rounded-tl-2xl">
                            <div class="bg-black absolute -mt-16 ml-3 rounded-2xl reveal-left">
                                <h1 class="font-baskervville text-white py-2 px-2 text-lg">Comalero Bronco</h1>
                            </div>
                        </div>
                        <p class="text-white font-poppins reveal-top ">Para poder presentar a la comunidad Juarense el origen de lo que hoy es una exitosa cadena de restaurantes “El Toro Bronco”, es necesario remontarnos a quién por su visión y esfuerzo es responsable del nacimiento de este proyecto: El Sr. José Refugio Bernal Santos, mejor conocido como el maestro Volvo, originario del estado de Aguascalientes, nacido en un pueblo llamado “el Bimbaletes”.</p>
                        <img src="{{url_for('static', filename='images/story-4.webp')}}" alt="Imagen de platillo" class="reveal-top rounded-tl-2xl">
                        <div class="bg-black absolute bottom-10 right-5 l-3 rounded-2xl reveal-right">
                                <h1 class="font-baskervville text-white py-2 px-2 text-lg">Hambuguesa extra queso</h1>
                            </div>

                    </div>
                    
                </div>
            </div>
    
            <div class="flex flex-row w-[95%] lg:w-1/3">
                <div class="">
                    <div class="flex flex-row items-center">
                        <div class="">
                            <img src="{{url_for('static', filename='/images/fire.svg')}}" alt="" class="size-10 animate-pulse reveal-top">
                        </div>
                        <div class="w-full h-[4px] bg-yellowCustom reveal-top"></div>
                    </div>
                    <div class="w-[95%] flex flex-col mx-auto p-3 relative">
                        <p class="text-white font-poppins reveal-top">En el año de 1950 el Sr. Bernal decide mudarse a Ciudad Juárez con miras a prosperar en todos los ámbitos de su vida. Su primer negocio fue la instalación de un taller mecánico, el cual llamó “Técnica Automotríz” ubicado en el Fracc. Las Margaritas al norte de la ciudad, donde inició su singular trabajo como mecánico de vehículos, especializado en modelos europeos tales como Volvo, Jaguar, Mercedes, BMW; de aquella profesión se le quedaría el mote de “el maestro Volvo” expresión por la cual se le conoció desde ese entonces.</p>
                        <div>
                            <img src="{{url_for('static', filename='images/story-2.webp')}}" alt="Imagen de platillo" class="reveal-top rounded-bl-3xl">
                            <div class="bg-black absolute -mt-16 ml-3 rounded-2xl reveal-left">
                                <h1 class="font-baskervville text-white py-2 px-2 text-lg">Nachos Broncos</h1>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
    
            <div class="flex flex-row w-[95%] lg:w-1/3">
                <div class="">
                    <div class="flex flex-row items-center">
                        <div class="">
                            <img src="{{url_for('static', filename='/images/fire.svg')}}" alt="" class="size-10 animate-pulse reveal-top">
                        </div>
                        <div class="w-full h-[4px] bg-yellowCustom reveal-top"></div>
                    </div>
                    <div class="w-[95%] flex flex-col mx-auto p-3 relative">
                        <img src="{{url_for('static', filename='images/story-3.webp')}}" alt="Imagen de platillo" class="reveal-top rounded-tr-3xl">
                        <div class="bg-black absolute top-4 right-3 rounded-2xl reveal-right overflow-hidden">
                                <h1 class="font-baskervville text-white py-2 px-2 text-lg">Salchicha polaca</h1>
                            </div>
                        <p class="text-white font-poppins reveal-top">El Sr. José Refugio Bernal Santos fallece el 1º. De enero del año 2013, y como un homenaje consecuente al esfuerzo inicial de su padre, nace en Junior la idea de construír el Toro Bronco Real, proyecto que es respaldado y motivado por su esposa, quien desde su unión viene a ser su apoyo laboral en la organización y administración de la cadena restaurantera. El 19 de diciembre de ese mismo año (2013) compran de común acuerdo el terreno en el cual se asienta el que viene a ser el mayor de los “ Toros “ y después de dos largos y esperanzadores años de construcción en Septiembre del 2016 se ve la realidad de una gran meta alcanzada: El Toro Bronco Real.</p>
                        <div>
                            <img src="{{url_for('static', filename='images/story-5.webp')}}" alt="Imagen de platillo" class="reveal-top rounded-br-2xl">
                            <div class="bg-black absolute -mt-16 ml-3 rounded-2xl">
                                <h1 class="font-baskervville text-white py-2 px-2 text-lg"></h1>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <!--Buffet-->
    <section class="flex  flex-col">
        <div class="flex w-full h-2 bg-yellowCustom overflow-hidden">
        </div>
        <div class="flex flex-col mx-auto w-full overflow-hidden relative">
            <div class="" style="background-position: center; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.20; background-size: cover; background-image: url('{{ url_for('static', filename='images/bg-01.webp')}}');"></div>
            <h2 class="font-bold font-poppins text-black text-4xl lg:text-8xl text-center reveal-left neon-text mt-14">Desayuno</h2>
            <h2 class="text-black text-5xl lg:text-9xl text-center reveal-right neon-text-white" style="font-family: Roustel;">Buffet</h2>
            <p class="font-poppins text-white text-center mt-2 lg:mt-6 reveal-bottom text-lg">Horario: 8:00 am - 12:00 pm</p>
            <img src="{{url_for('static', filename='/images/buffet.webp')}}" alt="" class="mx-auto w-[1000px] reveal-bottom" >
            
            <!--Styles-->
            <style>
                /* CSS personalizado para el efecto de neón */
                .neon-text{
                    -webkit-text-stroke: 1px red;
                }
                .neon-text-white {
                    -webkit-text-stroke: 1px red;
                    color: white; /* Color principal del texto */
                    text-shadow:
                        0 0 7px red,    /* Sombra blanca interior */
                        0 0 10px red,
                        0 0 21px red,
                        0 0 20px red,   /* Sombra verde/azul exterior (ajusta el color a tu gusto) */
                        0 0 42px red,
                        0 0 52px red,
                        0 0 50px red,
                        0 0 75px red;
                }
        
                .neon-text-orange {
                    color: white; /* Color principal del texto (naranja brillante) */
                    text-shadow:
                        0 0 7px #f77f00,    /* Sombra naranja interior */
                        0 0 10px #f77f00,
                        0 0 21px #f77f00,
                        0 0 42px #ff0000,   /* Sombra roja exterior (para un efecto de degradado de neón) */
                        0 0 82px #ff0000,
                        0 0 92px #ff0000,
                        0 0 102px #ff0000,
                        0 0 151px #ff0000;
                }
                        
            </style>
        </div>
        <div class="flex w-full h-2 bg-yellowCustom  overflow-hidden">
    </section>

    <!--Eventos-->
    <section>
        <div class="flex flex-col w-[100%] max-w-[1200px] mx-auto overflow-hidden p-9 gap-3 ">
            <h2 class="font-baskervville text-white text-3xl lg:text-5xl text-center uppercase reveal-right">SALóN PRIVADO</h2>
            <h2 class="font-baskervville text-white text-4xl text-center reveal-left">PARA TUS</h2>
            <h2 class="font-Roustel neon-text-white text-center text-5xl lg:text-9xl reveal-right">Eventos</h2>
            <p class="font-poppins text-lg text-center text-white reveal-bottom">Reserva Ahora</p>
            <img src="{{url_for('static', filename='/images/salon.webp')}}" alt="" class="reveal-right">
        </div>
    </section>


    <section class="max-w-[1360px] mx-auto overflow-hidden">
        <div class="flex flex-col lg:flex-row items-center justify-baseline">
            <form action="/contact" method="POST" class="mx-auto p-4 flex flex-col lg:flex-1/2 reveal-left">
                <h2 class="font-bold font-poppins text-black text-4xl lg:text-6xl text-center reveal-left neon-text mt-14">Contacto</h2>
                <p class="font-poppins text-white text-center reveal-left">Siempre estamos dispuestos a leerte, envianos tu comentario.</p>
                <div class="mb-4">
                    <label for="nombre" class="block text-white text-sm font-bold mb-2">Nombre:</label>
                    <input type="text" id="nombre" name="name" required
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline">
                </div>
            
                <div class="mb-4">
                    <label for="email" class="block text-white text-sm font-bold mb-2">Email:</label>
                    <input type="email" id="email" name="email" required
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline">
                </div>
            
                <div class="mb-6">
                    <label for="msg" class="block text-white text-sm font-bold mb-2">Mensaje:</label>
                    <textarea id="mensaje" name="msg" rows="5" required
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline resize-none"></textarea>
                </div>
            
                <div class="flex items-center justify-between">
                    <button type="submit"
                            class="bg-yellowCustom hover:bg-redCustom text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Enviar Mensaje
                    </button>
                </div>
            </form>
            <!--Preguntas frecuentes-->
            <div class="flex lg:flex-1/2 reveal-right">       
                <div class="mx-auto py-8">
                    <h2 class="font-bold font-poppins text-black text-4xl lg:text-6xl text-center reveal-left neon-text mt-14 mb-4">Preguntas Frecuentes</h2>
                
                    <div class="space-y-4">
                        <!--first question-->
                        <div class="border border-yellowCustom rounded-lg overflow-hidden">
                            <button class="hover: cursor-pointer w-full text-left p-4 flex justify-between items-center focus:outline-none"
                                    aria-expanded="false" aria-controls="faq-answer-5">
                                <span class="text-lg font-poppins text-white">¿Cuáles son los precios del Buffet?</span>
                                <svg class="w-6 h-6 transform transition-transform duration-200" fill="none" stroke="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                </svg>
                            </button>
                            <div id="faq-answer-5" class="h-0 opacity-0 overflow-hidden transition-[height,opacity] duration-300 ease-in-out">
                                <p class="text-white font-poppins text-center">Adulto: $260, Infante: $190, Niño: $120</p>
                            </div>
                        </div>
                        <!--Second Question-->
                        <div class="border border-yellowCustom rounded-lg overflow-hidden">
                            <button class="hover: cursor-pointer w-full text-left p-4 flex justify-between items-center focus:outline-none"
                                    aria-expanded="false" aria-controls="faq-answer-2">
                                <span class="text-lg font-poppins text-white">¿Cuáles son los horarios?</span>
                                <svg class="w-6 h-6 transform transition-transform duration-200" fill="none" stroke="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                </svg>
                            </button>
                            <div id="faq-answer-2" class="h-0 opacity-0 overflow-hidden transition-[height,opacity] duration-300 ease-in-out">
                                <p class="text-white font-poppins text-center">Lunes a jueves: 8:00 am - 10:00 pm <br>Viernes, sábado, domingo: 8:00 am - 11:00 pm </p>
                            </div>
                        </div>
                        <!--Third Question-->
                        <div class="border border-yellowCustom rounded-lg overflow-hidden">
                            <button class="hover: cursor-pointer w-full text-left p-4 flex justify-between items-center focus:outline-none"
                                    aria-expanded="false" aria-controls="faq-answer-3">
                                <span class="text-lg font-poppins text-white">¿Cuál es el número para ordenar?</span>
                                <svg class="w-6 h-6 transform transition-transform duration-200" fill="none" stroke="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                </svg>
                            </button>
                            <div id="faq-answer-3" class="h-0 opacity-0 overflow-hidden transition-[height,opacity] duration-300 ease-in-out">
                                <p class="text-white font-poppins text-center">Ordena al: 656-1902-12933</p>
                            </div>
                        </div>

                        <!--Fourth Question-->
                        <div class="border border-yellowCustom rounded-lg overflow-hidden">
                            <button class="w-full text-left p-4 flex justify-between items-center origin-top focus:outline-none hover: cursor-pointer"
                                    aria-expanded="false" aria-controls="faq-answer-4">
                                <span class="text-lg font-poppins text-white">¿Que es el estilo Josper?</span>
                                <svg class="w-6 h-6 transform transition-transform duration-200" fill="none" stroke="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                </svg>
                            </button>
                            <div id="faq-answer-4" class="h-0 opacity-0 overflow-hidden transition-[height,opacity] duration-300 ease-in-out">
                                <p class="flex w-[95%] flex-col text-white font-poppins text-center ml-1 mx-auto">El estilo Josper es una técnica de cocción que utiliza un horno de carbón cerrado.  Esencialmente, es una combinación de parrilla y horno en un solo equipo.
                                <br><br>
                                <span class="font-bold underline decoration-yellowCustom">Sus principales características son:</span>
                                <br>
                                <span class="font-bold">Sabor ahumado:</span> El carbón dentro de un espacio cerrado imparte un distintivo sabor ahumado a los alimentos.
                                <br><br>
                                <span class="font-bold">Velocidad: </span> Las altas temperaturas permiten cocinar la comida mucho más rápido que en un horno convencional o una parrilla abierta.
                                <br> <br>
                                <span class="font-bold">Jugosidad:</span> Sella los jugos y la humedad del alimento rápidamente, creando una costra caramelizada por fuera y un interior tierno y jugoso.
                                <br><br>
                            </p>
                            </div>
                        </div>

                    </div>
                </div>
    
            </div>
        </div>
            </section>

    <script src="/static/js/animations.js"></script>
    <script type="" src="{{url_for('static', filename='js/scroll.js')}}"></script>
    <script>
    document.addEventListener('DOMContentLoaded', () => {
    const accordionButtons = document.querySelectorAll('.border.border-yellowCustom button');

    accordionButtons.forEach(button => {
        button.addEventListener('click', () => {
            const contentWrapper = document.getElementById(button.getAttribute('aria-controls'));
            const content = contentWrapper.querySelector('p'); // Selecciona el párrafo dentro del contenedor
            const svgIcon = button.querySelector('svg');

            // Alternar la visibilidad y animación
            if (contentWrapper.classList.contains('h-0')) {
                // Abre el acordeón
                contentWrapper.classList.remove('h-0', 'opacity-0');
                // Establece la altura del contenedor a la altura real de su contenido
                // Usa 'scrollHeight' para obtener la altura total del contenido, incluyendo el padding
                contentWrapper.style.height = content.scrollHeight + 'px';
                contentWrapper.style.opacity = '1';
                
                button.setAttribute('aria-expanded', 'true');
                svgIcon.classList.add('rotate-180');
            } else {
                // Cierra el acordeón
                // Primero establece la altura a su valor actual para que la transición funcione
                contentWrapper.style.height = content.scrollHeight + 'px';
                // Fuerza un reflow para asegurar que el navegador registre la altura actual
                void contentWrapper.offsetWidth; 
                
                contentWrapper.style.height = '0'; // Anima a cero
                contentWrapper.style.opacity = '0'; // Anima la opacidad a cero
                
                // Después de la transición, resetea la altura para que no afecte otros elementos
                contentWrapper.addEventListener('transitionend', function handler() {
                    contentWrapper.classList.add('h-0', 'opacity-0'); // Vuelve a ocultarlo con h-0 y opacity-0
                    contentWrapper.style.height = ''; // Quita el estilo de altura en línea para dejar que CSS lo maneje
                    contentWrapper.removeEventListener('transitionend', handler);
                });

                button.setAttribute('aria-expanded', 'false');
                svgIcon.classList.remove('rotate-180');
            }
        });
    });
});
    </script>
</body>
</html>
</body>
{% endblock %}
</html>