<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toro Bronco | Ciudad Juarez</title>
    {%extends "base.html" %}
</head>
<body>
    {%block content %}

    <div class="flex w-full h-[100px] lg:h-[200px]  bg-cover bg-center" style="background-image: url({{url_for('static', filename='images/presite-img.webp')}}); opacity: 0.85;">
    </div>

    <div class="flex flex-col lg:flex-row mt-28 mb-28 w-[95%] max-w-[1200px] mx-auto pl-5 pr-5 items-center justify-center gap-4">
        <div class="flex flex-col gap-3 w-[100%] flex-1/2">
            <a href="{{url_for('menu')}}" class="font-poppins text-white w-[100%] lg:w-[340px] p-3 border-2 border-redCustom text-center hover:border-yellowCustom transition-colors ease-linear duration-200">Ver menu</a>
            <a href="" class="font-poppins text-white w-[100%] lg:w-[340px] p-3 border-2 border-redCustom text-center hover:border-yellowCustom transition-colors ease-linear duration-200">Descargar menu</a>
            <a href="https://www.google.com/maps?gs_lcrp=EgZjaHJvbWUqDAgAECMYJxiABBiKBTIMCAAQIxgnGIAEGIoFMg0IARAuGK8BGMcBGIAEMgwIAhAjGCcYgAQYigUyBwgDEAAYgAQyBwgEEAAYgAQyBggFEEUYPDIGCAYQRRg8MgYIBxBFGDzSAQgyNTIzajBqN6gCALACAA&um=1&ie=UTF-8&fb=1&gl=mx&sa=X&geocode=KQmTZ_9LXeeGMSmhlHjQ1HuI&daddr=Av.+Waterfill+427,+Waterfill+R%C3%ADo+Bravo,+32380+Ju%C3%A1rez,+Chih." class="font-poppins text-white w-[100%] lg:w-[340px] p-3 border-2 border-redCustom text-center hover:border-yellowCustom transition-colors ease-linear duration-200">Como llegar</a>
            <a href="tel:+526563246279" class="font-poppins text-white w-[100%] lg:w-[340px] p-3 border-2 border-redCustom text-center hover:border-yellowCustom transition-colors ease-linear duration-200">Ordena y recoge</a>
        </div>
        <div class="flex flex-col gap-3 flex-1/2">
            <p class="font-poppins text-white text-center">Dirección: Av. Waterfill 427, Waterfill Río Bravo, 32380 Juárez, Chih.</p>
            <p class="font-poppins text-white text-center">Teléfono: 656 324 6279</p>
            <div class="flex flex-col">
                <p class="font-poppins text-white text-center text-xl font-bold">Horarios:</p>
                <ul class="font-poppins text-white text-center">
                    <li><span class="font-bold">Lunes: </span>8 am - 10 pm</li>
                    <li><span class="font-bold">Martes: </span>8 am - 10 pm</li>
                    <li><span class="font-bold">Miercoles: </span>8 am - 10 pm</li>
                    <li><span class="font-bold">Jueves: </span>8 am - 10 pm</li>
                    <li><span class="font-bold">Viernes: </span>8 am - 11 pm</li>
                    <li><span class="font-bold">Sabado: </span>8 am - 11 pm</li>
                    <li><span class="font-bold">Domingo: </span>8 am - 11 pm</li>
                </ul>
            </div>
        </div>
    </div>
    
    {%endblock%}

</body>
</html>